:root{
    --corFundo1:#010101;
    --corFundo2: #171717;
    --corFundo3: #4e4e4e;
    --corLetra1: #fafafa;
    --corLetra2: #9ad360;
    --corLetra3: #f57069;
    --corLetraResult: #656565;
    --corButtonIgual: #427e04;
}

html.white_mode:root{
        --corFundo1: #ffffff;
        --corFundo2: #e9e9e9;
        --corFundo3: #cfcfcf;
        --corLetra1: #151414;
        --corLetra2:  #1ebf15;
        --corLetra3: #ff0d00;
        --corLetraResult: #656565;
        --corButtonIgual: #73cd16;
}
@keyframes digiter{
    0%{opacity: 0;}
    30%{opacity: 0;}
    33%{opacity: 1;}
    66%{opacity: 1;}
    69%{opacity: 0;}
    100%{opacity: 0;}
}
.cor1{
    color: var(--corLetra1);
}
.cor2{
    color: var(--corLetra2);
}
.cor3{
    color: var(--corLetra3);
}
.igualcolor{
    background-color: var(--corButtonIgual) !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    user-select: none;
    color: #fafafa;
 }
body{
    background-color: var(--corFundo2);
}
 .flex{
     display: flex;
 }
 .wrap{
    flex-wrap: wrap;
 }
 .acenter{
     display: flex;
     align-items: center;
 }
 .jcenter{
     display: flex;
     justify-content: center;
 }
 .ajcenter{
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .column{
     display: flex;
     flex-direction: column;
 }
 .none{
     display: none !important;
 }
 .container{
     width: 550px;
 }
 main{
    height: 100vh;
 }

 /* Inicio Container */


 #container{
    background-color: var(--corFundo1);
    height: 100vh;
    width: calc(100vh / 2);

    padding: 20px;
 }


 /* Fim Container */
 /* Inicio Tela */
#part_tela{
    height: 40%;
    border-bottom: solid 1px rgb(37, 37, 37);
    padding-bottom: 15px;
}
#keyboard{
    font-size: 30px;
    color: var(--corLetra1);
    height: 100px;
    justify-content: flex-end;

}
.operation{
    color: var(--corLetra2);
    /* margin-left: 5px;
    margin-right: 5px; */
}
#keyboard h1{
    text-align: end;
    font-weight: 400;
}
.f44{
    font-size: 44px;
}
.f34{
    font-size: 34px;
}
.f26{
    font-size: 26px;
}
.f20{
    font-size: 20px;
}
#result_fast{
    height: 60px;
    color: var(--corLetraResult);

}
#buttons{
    flex: 1;
    justify-content: space-between;
    align-items: flex-end;
}
#buttons path{
    color: var(--corLetra1);
    opacity: 0.6;
}
.button_history, .button_thema, .button_settings{
    margin-left: 12px;
    margin-right: 12px;
}
#result_fast h2{
    color: var(--corLetraResult);
    font-weight: 400;
    font-size: 22px;
    text-align: end;
    width: 100%;
    transition: all 0.5s;
}
#result_fast h2.animate{
    color: var(--corLetra1);
    position: absolute;
    font-size: 44px;
    top: 42.5px;
    right:545.75px;
    
}
.first, .second{
    color: var(--corLetra1);
}



 /* Fim Tela */
 /* Inicio tecla */
#part_tecla{
    flex: 1;
    padding-top: 15px;
    margin-left: -5px;
    margin-right: -5px;
    
}
.key{
    width: calc(25% - 10px);
    background-color: var(--corFundo2);
    border-radius: 500px;
    margin: 5px;
    font-weight: 400;
    font-size: 30px;
}
.key.functions{
    font-size: 40px;
}
.key:hover{
    scale: 1.05;
    background-color: var(--corFundo3);
    cursor: pointer; 
}
.keyclick{
    font-size: 24px;
    background-color: var(--corFundo3);
}
.digiter{
    width: 2px;
    height: 44px;
    background-color: var(--corButtonIgual);
}
#igual.keyclick{
    background-color: #60b10f !important;
    font-size: 24px;
}
.digiter.animate{
    animation-name: digiter;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
/* #part_tecla::-webkit-scrollbar {
    width: 50px;
} */
 /* Fim tecla */



/* Inicio histórico */
.historico{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}
.historico h4{
    font-weight: 200;
    font-size: 16px;
    color:var(--corLetra1)
}
html.white_mode .historico H4{
    font-weight: 400 !important;
}
.item_historico{
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--corFundo2);
    padding: 7px 0px;
}
.button_history.open path{
    color: var(--corButtonIgual) !important;
}
/* Fim histórico */
